body {
    font-family: Raleway, sans-serif;
    margin: auto;
    color: #525252;
    max-width: 1300px;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: Raleway;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.3;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    /* letter-spacing: 0.3; */
    line-height: 0.6;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.3;
    line-height: 1.4;
}

h6 {
    font-size: 16px;
    font-weight: 700;
}

/* Header section */

header {
    position: fixed;
    z-index: 1;
    height: 64px;
    width: 1300px;        /*          ////// AAAAHHHHHHH MIL HORAS X ESTA MERDE! */
    align-items: center;
    background-color: white;
    font-size: 24px;
    color: #202020;
    font-weight: 600;
}

#logo img {
margin-left: 24px;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #202020;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    padding: 0 8px;
}

/* Main section */

.main {
   padding-top: 64px;
}

/* Start section */

.start {
    margin: auto;
    height: 630px;
    background-color: lightgray;
    align-items: center;
}

.start img {
    height: 550px;
    width: auto;
    padding: 24px 32px;
}

.start .side-text {
    padding-left: 24px;
    width: 380px;
    /* align-content: center;
    align-items: center; */
}

#button {
    background-color: lightseagreen;
    border: none;
    padding: 15px;
    text-align: center;
    /* display: inline-block;         si quisiera que el button se ajiuste al texto   */
}

#button a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

/* Information section */

/* main */

.information {
    height: 760px;
    background-color: red;
    width: 1300px;
    /* display: inline; */
}

.flex-container .main {
    width: 60%;
}

.information img {
    height: 400px;
    width: 700px;
    object-fit: cover;
    padding-left: 40px;
    padding-right: 50px;
}

/* side */

.flex-container .side {
    /* border-left: silver, solid, 1px; */
}

#item a,
#item-2 a {
    color: rgb(87, 164, 228);
    font-weight: 700;
}

#item-2 {
    background-color: silver;
}