/* general style */

body {
    font-family: Raleway, sans-serif;
    margin: auto;
    color: #525252;
    max-width: 1300px;
    /* justify-content: center; */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    box-sizing: border-box;
    display: flex;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* titles style  */

h1 {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.3;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    /* letter-spacing: 0.3; */
    line-height: 0.6;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.3;
    line-height: 1.4;
}

h4 {
    font-size: 30px;
}

h6 {
    font-size: 16px;
    font-weight: 700;
}

/* Header section */

header {
    position: fixed;
    z-index: 1;
    height: 64px;
    width: 1300px;        /*          ////// AAAAHHHHHHH MIL HORAS X ESTA MERDE! */
    align-items: center;
    background-color: white;
    font-size: 24px;
    color: #202020;
    font-weight: 600;
}

#logo img {
margin-left: 24px;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #202020;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    padding: 0 8px;
}

/* Main section */

.main {
   padding-top: 64px;
}

/* Start section */

.start {
    /* margin: auto; */
    height: 630px;
    background-color: lightgray;
    align-items: center;
}

.start img {
    height: 550px;
    width: auto;
    padding: 24px 32px;
}

.start .side-text {
    padding-left: 24px;
    width: 380px;
}

#button {
    background-color: lightseagreen;
    padding: 15px;
    text-align: center;
    /* display: inline-block;         si quisiera que el button se ajiuste al texto   */
}

#button a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

/* Information section */

/* blog-box */

.blog-box {
    display: flex;
    width: 1300px;
    height: 800px;
    margin: 0;          /*          ////// AAAAHHHHHHH otra vez puta mierda! */
}

/* main article */

.blog-box .article {
    background-color: rgb(250, 231, 250);
    padding: 40px;
    /* flex: 1; */
    /* width: 80%; */
    /* border-right-style: 1px solid black; */
}

.blog-box .article-picture {
    width: 100%;
    /* margin: auto; */
}

/* side articles */

/* general */
.blog-box-side{
    display: inline-flexbox;
    background-color: rgb(20, 185, 158);
    flex: 1;
    width: 100%;
}

.blog-box-side a {
    color: rgb(71, 120, 255);
    font-weight: 700;
}

/* each article */

.blog-box-side .side-picture {
    width: 200px;
    float: left;
    padding: 20px;
}

.blog-box-side .side-content {
    display: inline;
}

.blog-box .side-article {
    background-color: navajowhite;
    padding: .3em;
    flex: 1;
    width: 400px;
}

.blog-box .side-article-gray {
    background-color: silver;
    padding: .3em;
    flex: 1;
}